<h2><%=venue.name%></h2>
<span><%=venue.addr%>, <%=venue.city%> <%=venue.statecode%>. <%=venue.postal_code%></span>

<div class="networks">
    <ul>
        <%for(var i=0;i<venue.network_ids.length;i++){%>
            <li>
                <%=venue.network_ids[i].name%>
            </li>
        <%}%>
    </ul>
</div>
<div class="features">
    <h3>Features</h3>
    <ul>

        <%



        %>
        <%for(var f in venue.features){%>
            <li style="list-style: none">
                    <span style="font-weight: bold"><%=f.toUpperCase()%>  </span>
                    <%if(typeof venue.features[f]=='object'&&f!='menujson'){%>
                <ul>
                        <%for(var fN in venue.features[f]){%>

                            <%if(typeof venue.features[f][fN]=='string'){%>
                                <li>
                                    <%=venue.features[f][fN]%>
                                </li>
                            <%}else{%>
                                <%=JSON.stringify(venue.features[f][fN])%>
                            <%}%>

                        <%}%>
                </ul>
                    <%}else{%>
                     <%=venue.features[f]%>
                    <%}%>
            </li>
        <%}%>
    </ul>
</div>

<div class="reviews">
    <h3>Reviews</h3>
    <ul>
        <%for(var i=0;i<venue.reviews.length;i++){%>
            <li>
                <span><%=venue.reviews[i].dtreviewed%></span>
                <span><%=venue.reviews[i].attribution.sourceName%></span>
                <p>
                <%=JSON.stringify(venue.reviews[i])%>
                </p>
            </li>
        <%}%>
    </ul>
</div>




<div class="ratings">
    <h3>Ratings</h3>
    <ul>
        <%for(var i=0;i<venue.ratings.length;i++){%>
            <li>
                <%=JSON.stringify(venue.ratings[i])%>
            </li>
        <%}%>
    </ul>
</div>